#app {
  width: 450px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

#header .span {
  font-style: italic
}

#add_input {
  width: 350px;
  height: 20px;
}

#add_button {
  font-size: 17px;
  margin-left: 5px;
  width: 70px;
  height: 30px;
  border: 0px;
  border-radius: 10px;
  color: white;
  background-color: #fc999a;
}

#List ol {
  padding-left: 20px;
}

#List ol .white {
  padding: 0;
  margin: 0;
}

#List ol .peach {
  padding: 0;
  margin: 0;
  background-color: #f4ecec;
  height: 20px;
}



#listItem input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-top: 0;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  line-height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

#listItem input[type="checkbox"]:checked {
  color: #fff;
  background-color: #43adea;
  border: 1px solid #43adea;
}

#listItem input[type="checkbox"]:after {
  content: "✔";
}

#listItem .check{
  text-decoration:line-through;
  color: gray;
}

#listItem .none{
  text-decoration:none;
}

#footButton {
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
}

#footButton button {
  font-size: 18px;
  margin-left: 20px;
  border: 0px;
  color: #fc999a;
  background-color: white;
}